registry=https://pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/:username=hexagonPPMInnerSource
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/:_password=enVueDd2MjJzaTV3dWZrbGp6cjNmeWlta2l1Z2NvbHprcjRxZzduY281cW5ycWI0eWY3YQ==
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/:username=hexagonPPMInnerSource
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/:_password=enVueDd2MjJzaTV3dWZrbGp6cjNmeWlta2l1Z2NvbHprcjRxZzduY281cW5ycWI0eWY3YQ==
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/:email=npm requires email to be set but doesn't use the value
; end auth token